html{
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    margin: 0;
    background-color: #4E4C8A;
    color: #131314;
    font-family: inter;
    font-size: 16px;
}

h1{
    margin: 0;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color:#FFFFFF;
  }

p{
    color: #B8B7D0;
    font-size: 18px;
    text-align: center;
}

.form-title{
    margin:48px 0;
}

form{
    max-width: 600px;
    min-width: 300px;
    width:50vw;
    margin:0 auto 96px auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding:0px 16px 24px 16px;
}

fieldset{
    padding: 0;
    border-radius: 6px;
    margin-bottom: 48px;
    border:none;
}

.label-size{
    font-size: 18px;
}

label {
    display: block;
    margin: 24px 0;
    vertical-align: middle;
    font-weight: 500;
}

legend{
    font-size: 18px;
    font-weight: 600;
}

input, textarea, select {
    margin: 8px 0 0 0;
    display: block;
    width: 100%;
    padding:8px;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
    height: 50px;
    box-sizing: border-box;
}

textarea{
    font-family: inter;
    font-size:16px;
    height: 200px;
}

textarea::placeholder {
    font-size: 16px;
}

input, textarea {
    color: #131314;
    font-size: 16px;
}

.inline {
    width: unset;
    display: inline;
    margin: -3px 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 0px auto;
    height: 50px;
    background-color: #36854C;
    font-size: 16px;
    color:#ffffff;
    border-color: white;
    min-width: 300px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

input[type="submit"]:hover{
    background-color: #2A6A3C;
}

input[type="text"],[type="email"], [type="number"], [type="password"]{
    padding-left: 16px;
    box-sizing: border-box;
}

input[type="radio"]{
    padding: unset;
    border: 2px solid #A1A1A1;
    width: 24px; /* Adjust width */
    height: 24px; /* Adjust height */
    border-radius: 50%; /* Make it a circle */
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]{
    padding: unset;
    height:24px;
    width:24px;
    margin-right: 12px;
    cursor:pointer;
    position: relative;
    border: 2px solid #A1A1A1;
}

label:last-of-type{
    margin-bottom: 0px;
    margin-top:0px;
}

fieldset:last-of-type{
    margin-bottom: 24px;
}